
// You usually have the sizes and colors and etc. in the variables coming from
// the design systems rather than randomly typing them in css;
.emails-input {
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #c3c2cf;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 4px 3px;
  min-height: 37px; // This could probably be calculated by the paddings and margins and etc.
  max-height: 300px;
  overflow-x: auto;

  &__tag {
    margin: 2px 4px;
    line-height: 24px;


    

    &--invalid {
      background: transparent;
      border-bottom: dashed 1px red;
      border-radius: 0;
    }
    &--valid {
      background: rgba(102, 153, 255, 0.2);
      border-radius: 100px;
      padding-left: 10px;
      padding-right: 8px;
    }
  }

  &__remove-tag {
    cursor: pointer;
    margin-left: 8px;

    svg {
      pointer-events: none;
    }
  }

  &__input {
    border: none;
  }
}
