// You usually have the sizes and colors and etc. in the variables coming from
// the design systems rather than randomly typing them in css;
.emails-input {
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #c3c2cf;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-content: flex-start;
  align-items: flex-start; // IE11 is stretched without this
  flex-wrap: wrap;
  padding: 4px 3px;
  height: 96px;
  overflow-x: auto;

  &__tag {
    margin: 2px 4px;
    line-height: 24px;

    &--invalid {
      background: transparent;
      border-bottom: dashed 1px red;
      border-radius: 0;
    }
    &--valid {
      background: rgba(102, 153, 255, 0.2);
      border-radius: 100px;
      padding-left: 10px;
      padding-right: 8px;
    }
  }

  &__remove-tag {
    cursor: pointer;
    margin-left: 8px;
    // Used button for accessibility (make it focusable) and therefore have to unstyle it
    border: none;
    background: none;
    padding: 0;

    svg {
      pointer-events: none;
    }
  }

  &__input {
    margin: 2px 4px;
    line-height: 24px;
    height: 26px;
    border: none;
  }
}
